@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.not-found-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
    font-family: 'Press Start 2P', cursive;
}

.not-found-text {
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
}